name: CI

on:
  push:
    branches:
      - 'dev/**'
      - 'feature/**'
      - 'archive/**'
    tags:
      - v*.*.*
  workflow_dispatch:

env:
  ORIGINAL_PROJECT: "noeru-desu/Image-encryptor"
  PROGRAM_NAME: "ImageEncryptor"
  BUILD_ENV: "win64-nuitka-msvc"

jobs:
  build:
    name: Build
    runs-on: windows-latest
    if: ${{ !startsWith(github.event.head_commit.message, '[skip ci]') }}
    steps:
      - name: Cancel previous runs
        uses: styfle/cancel-workflow-action@0.5.0
        with:
          access_token: ${{ github.token }}
      - name: Clone repo
        uses: actions/checkout@v2
      - name: 'Set up Developer Command Prompt'
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: x64
      #- name: Download UPX
      #  uses: i3h/download-release-asset@v1.3.2
      #  with:
      #    owner: upx
      #    repo: upx
      #    tag: latest
      #    file: /upx-[0-9.]+-win64.zip/
      #    path: ./
      #- name: Unzip UPX
      #  run: |
      #    Expand-Archive -Path "./upx-*.zip" -DestinationPath "./"
      #    Move-Item "./upx-*/upx.exe" "./"
      - name: Set up Python 3.10
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'
      - name: Download Pillow-SIMD
        uses: carlosperate/download-file-action@v1
        with:
          file-url: 'https://download.lfd.uci.edu/pythonlibs/archived/Pillow_SIMD-9.0.0.post0-cp310-cp310-win_amd64.whl'
      - name: Cache pip
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install dependencies
        run: |
          pip install pip --upgrade
          pip install -U colorlog pycryptodome numpy zstandard ordered-set
          pip install -U "https://wxpython.org/Phoenix/snapshot-builds/wxPython-4.1.2a1.dev5434+7d45ee6a-cp310-cp310-win_amd64.whl"
          pip install -U "https://github.com/Nuitka/Nuitka/archive/develop.zip"
          pip uninstall -y Pillow
          pip install -U "Pillow_SIMD-9.0.0.post0-cp310-cp310-win_amd64.whl"
      - name: Cache Dependency Walker
        uses: actions/cache@v2
        with:
          path: |
            C:/Users/runneradmin/AppData/Local/Nuitka/Nuitka/depends/x86_64/depends.exe
          key: ${{ env.ORIGINAL_PROJECT }}-DependencyWalker
      - name: Build artifacts
        if: startsWith(github.ref, 'refs/tags/') && github.repository == env.ORIGINAL_PROJECT
        shell: cmd
        run: |
          mkdir nuitka
          nuitka --disable-console --python-flag=-OO,no_docstrings --clang --msvc=latest --lto=yes --prefer-source-code --onefile --show-anti-bloat-changes --assume-yes-for-downloads --file-reference-choice=original --module-name-choice=original --plugin-enable=numpy --include-module=wx._xml --include-package=PIL --nofollow-import-to=colorlog,pydoc,urllib,socket,tkinter,PIL._tkinter,PIL._imagingtk,PIL._tkinter_finder,PIL.ImageShow --output-dir=nuitka --noinclude-pytest-mode=nofollow --noinclude-unittest-mode=nofollow --noinclude-setuptools-mode=nofollow --noinclude-IPython-mode=nofollow ImageEncryptor.py
      - name: Build artifacts (with console)
        run: |
          nuitka --enable-console --clang --msvc=latest --lto=yes --prefer-source-code --onefile --show-anti-bloat-changes --assume-yes-for-downloads --plugin-enable=numpy --include-module=wx._xml --include-package=PIL --module-name-choice=original --nofollow-import-to=pydoc,urllib,socket,tkinter,PIL._tkinter,PIL._imagingtk,PIL._tkinter_finder,PIL.ImageShow --output-dir=nuitka --noinclude-pytest-mode=nofollow --noinclude-unittest-mode=nofollow --noinclude-setuptools-mode=nofollow --noinclude-IPython-mode=nofollow --warn-implicit-exceptions -o ImageEncryptor.with_console.exe ImageEncryptor.py
      - name: Basic tests
        shell: cmd
        run: |
          if exist ".\nuitka\ImageEncryptor.exe" ".\nuitka\ImageEncryptor.exe" -t
          if exist ".\ImageEncryptor.with_console.exe" ".\ImageEncryptor.with_console.exe" -t
      - name: Rename release exe
        if: startsWith(github.ref, 'refs/tags/') && github.repository == env.ORIGINAL_PROJECT
        shell: cmd
        run: |
          set ver=${{ github.ref_name }}
          copy ".\nuitka\ImageEncryptor.exe" ".\ImageEncryptor_%ver:v=%.exe"
          copy ".\ImageEncryptor.with_console.exe" ".\ImageEncryptor_%ver:v=%.with_console.exe"
      - name: Draft release
        if: startsWith(github.ref, 'refs/tags/') && github.repository == env.ORIGINAL_PROJECT
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.ref_name }}
          name: ${{ env.PROGRAM_NAME }} ${{ env.VERSION_TAG_SHORT }}
          body: |
            ## 新增
            * 
            * 
            ## 修改与优化
            * 
            * 
            ## 修复
            * 
            * 
            **_`with_console`版本: 未使用`-OO`参数进行优化，并在运行时显示CMD窗口_**
          files: |
            ImageEncryptor_*.exe
          draft: true
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: ${{ env.BUILD_ENV }}-${{ env.VCToolsVersion }}-build.${{ github.run_number }}
          path: |
            nuitka/ImageEncryptor.exe
            ImageEncryptor.with_console.exe
